/* CSS declarations go here */
.game-background {
	background-image:url("/background.png");
  	min-height: 460px;
  	min-width: 580px;
}

.interactionPanel {
	float:center;
	margin-left: auto;
	margin-right: auto;
	overflow:scroll;
	padding : 20px;
	margin-top:80px;
	width:600px;
	min-height:300px;
	border:1px;
}

.multicolumn {
	-moz-column-width: 15em; 
	-webkit-column-width: 15em; 
	-moz-column-gap: 1em; 
	-webkit-column-gap: 1em;
	margin-bottom:1em;
}

.game-background {
	position:relative;
}

img.arrival {
	position:absolute;
	top:150px;
	left:100px;
}

img.bed {
	position:absolute;
	top:49px;
	left:500px;
}

img.moa {
	position:absolute;
	top:36px;
	left:100px;
}

img.results {
	position:absolute;
	top:135px;
	left:150px;
}

img.diag {
	position:absolute;
	top:46px;
	left:535px;
}